.lightbox-wrapper {
  position: absolute;
  z-index: 5;
  @include fullscreen;
  background: transparentize($color-primary, .5);
  @include flex-container(column, center);
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  .lightbox-container {
    height: 100%;
    position: relative;
    padding: $default-gutter;
    color: $color-white;
    font-size: 1rem;
    text-align: center;
  }
  .close-button {
    @include icon-button;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    z-index: 2;
    > svg {
      fill: $color-white;
    }
  }
}
