$items: 8;
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }
  to {
    opacity: 1;
  }
}

.gallery-container {
  @include flex-container(column, flex-start);
  flex-wrap: wrap;
  max-height: calc(100vh - 8rem);
  max-width: calc(100% + #{outer-gutter($default-gutter) * 2});
  margin-left: -#{outer-gutter($default-gutter)};
  margin-right: -#{outer-gutter($default-gutter)};
  overflow: hidden;
  li {
    display: block;
    @include container-division(3, 1);
    width: 50%;
    animation: scaleIn .25s ease-in;
    animation-fill-mode: forwards;
    @include transition(transform, .25s);
    @for $item from 1 through $items {
      &:nth-child(#{$item}) {
        animation-delay: ($item * .15s + 1s);
      }
    }
  }
}
